#container {
    min-width: 20em;
    max-width: 20em;
    min-height: 25em;
    max-height: 25em;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scrollbar-container {
    overflow: hidden;
    min-height: 15em;
    max-height: 15em;
}

md-list-item {
    min-width: 20em;
    max-width: 20em;
}

.tab-favicon {
    margin: 0.15em;
    width: 1.5em;
    height: 1.5em;
}
